<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P1ProyectoFinalAndroid">
        <activity
            android:name=".CalculadoraIMC"
            android:exported="false" />
        <activity
            android:name=".Retrofit"
            android:exported="false" />
        <activity
            android:name=".CredencialApp"
            android:exported="false" />
        <activity
            android:name=".PlatillosApp"
            android:exported="false" />
        <activity
            android:name=".BienvenidaApp"
            android:exported="false" />
        <activity
            android:name=".InicioApp"
            android:exported="false" />
        <activity
            android:name=".RegistroApp"
            android:exported="false" />
        <!--
 CORRECCIÓN DEFINITIVA: Cambiar a un tema MaterialComponents
             para que TextInputLayout funcione correctamente.
        -->
        <activity
            android:name=".LoginApp"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ActivitySeleccionRegistro"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>